<h1>Sampel Acak Berjenjang</h1>
<p>
  Kadang-kadang sumber data tidak sederhana. Di sini kita akan mencoba-coba <i>stratified random sampling</i>.
</p>

<hr />

<h2>1. Permasalahan</h2>
<p>
  Wati Pinguin kembali memesan {{ populationSize | number :'2.0-2':'id'}} buah-buahan. Tepatnya,
  {{ applePopSize | number :'2.0-2':'id'}} apel dan {{ orangePopSize | number :'2.0-2':'id'}} jeruk. Namun kali ini,
  buah-buahannya dikirim dari 3 truk dari tiga desa. Setelah ketiga truk sampai, ternyata tiap truk membawa buah-buahan
  yang jumlahnya berbeda-beda:
</p>
<ul>
  <li>Truk {{ truckNames[0] }}: {{ subgroupSizes[0] | number :'2.0-2':'id'}} buah ({{subgroupRatios[0] * 100}}%)</li>
  <li>Truk {{ truckNames[1] }}: {{ subgroupSizes[1] | number :'2.0-2':'id'}} buah ({{subgroupRatios[1] * 100}}%)</li>
  <li>Truk {{ truckNames[2] }}: {{ subgroupSizes[2] | number :'2.0-2':'id'}} buah ({{subgroupRatios[2] * 100}}%)</li>
</ul>
<p>
  Wati ingin memastikan apakah dia mendapatkan kurang lebih {{ applePopSize | number :'2.0-2':'id'}} apel
  dan {{ orangePopSize | number :'2.0-2':'id'}} jeruk. Kita tahu bahwa <a routerLink='/simple_random'>sampel
  acak (random sampling)</a> dari satu sumber cukup akurat. Tapi bagaimana kalau sumbernya tidak lagi satu,
  melainkan tiga truk DAN Wati tidak tahu apakah isi truk itu seragam? Apa yang harus dilakukan Wati?
</p>
<h3>Apa yang harus dilakukan Wati Pinguin?</h3>
<p>
  Jika Anda adalah Wati, langkah apa yang Anda lakukan? (Boleh pilih salah satu).
</p>
<label><input type="radio" name="samplingMethod" /> Ambil 1000 sampel dari salah satu truk saja</label>
<br/>
<label><input type="radio" name="samplingMethod" /> Ambil total 1000 sampel yang jumlahnya sama dari setiap truk</label>
<br/>
<label><input type="radio" name="samplingMethod" /> Ambil total 1000 sampel yang proposional dengan isi truk</label>

<h3>Pada kenyataannya</h3>
<p>
  Walaupun Wati tidak tahu ada berapa apel dan jeruk di tiap truk, kami (sebagai pembuat simulasi) tahu isi tiap truk. Perhatikan jumlah apel dan
  jeruk di tiap truk tidak sama. Truk A lebih banyak jeruk. Truk B lebih banyak apel. Truk C 50% apel dan 50% jeruk.
</p>
<table>
  <tr>
    <th></th>
    <th>Truk {{ truckNames[0] }}</th>
    <th>Truk {{ truckNames[1] }}</th>
    <th>Truk {{ truckNames[2] }}</th>
    <th>Total</th>
  </tr>
  <tr>
    <td>Apel</td>
    <td>{{ subgroupContentsProportions[0][0] }}</td>
    <td>{{ subgroupContentsProportions[1][0] }}</td>
    <td>{{ subgroupContentsProportions[2][0] }}</td>
    <td>{{ applePopSize }}</td>
  </tr>
  <tr>
    <td>Jeruk</td>
    <td>{{ subgroupContentsProportions[0][1] }}</td>
    <td>{{ subgroupContentsProportions[1][1] }}</td>
    <td>{{ subgroupContentsProportions[2][1] }}</td>
    <td>{{ orangePopSize }}</td>
  </tr>
  <tr>
    <td>Total</td>
    <td>{{ subgroupSizes[0] }}</td>
    <td>{{ subgroupSizes[1] }}</td>
    <td>{{ subgroupSizes[2] }}</td>
    <td>{{ populationSize }}</td>
  </tr>
</table>

<p>Di bagian berikutnya, kita akan mencoba ketiga cara mengambil sampel yang diuraikan di atas. </p>

<hr />

<h2>2. Mengambil dari salah satu truk saja</h2>
<p>
  Mari mencoba mengambil 1000 sampel dari satu truk. Mulai dengan Truk A yang berisi
  {{ subgroupSizes[0] | number :'2.0-2':'id'}} buah ({{subgroupRatios[0] * 100}}% dari keseluruhan buah yang dikirim).
</p>
<button (click)="onSampleTruckAOnly()">Ambil sampel dari Truk A</button>
<h3>Bagaimana hasilnya?</h3>
<table>
  <tr>
    <th></th>
    <th>Sampel Truk {{ truckNames[0] }}</th>
    <th>Persen</th>
    <th>Persen seharusnya</th>
  </tr>
  <tr>
    <td>Apel</td>
    <td>{{ truckASamples[0] }}</td>
    <td>{{ truckAPercents[0] }}%</td>
    <td>56%</td>
  </tr>
  <tr>
    <td>Jeruk</td>
    <td>{{ truckASamples[1] }}</td>
    <td>{{ truckAPercents[1] }}%</td>
    <td>44%</td>
  </tr>
  <tr>
    <td>Total</td>
    <td>{{ truckASamples[0]+truckASamples[1] ? truckASamples[0]+truckASamples[1] : "" }}</td>
    <td></td>
    <td></td>
  </tr>
</table>

<hr/>

<p>
  Sekarang coba ambil 1000 sampel dari Truk B. Truk ini isinya
  {{ subgroupSizes[1] | number :'2.0-2':'id'}} buah ({{subgroupRatios[1] * 100}}% dari keseluruhan buah yang dikirim).
</p>

<button (click)="onSampleTruckBOnly()">Ambil sampel dari Truk B</button>
<h3>Bagaimana hasilnya?</h3>
<table>
  <tr>
    <th></th>
    <th>Sampel Truk {{ truckNames[1] }}</th>
    <th>Persen</th>
    <th>Persen seharusnya</th>
  </tr>
  <tr>
    <td>Apel</td>
    <td>{{ truckBSamples[0] }}</td>
    <td>{{ truckBPercents[0] }}%</td>
    <td>56%</td>
  </tr>
  <tr>
    <td>Jeruk</td>
    <td>{{ truckBSamples[1] }}</td>
    <td>{{ truckBPercents[1] }}%</td>
    <td>44%</td>
  </tr>
    <tr>
    <td>Total</td>
    <td>{{ truckBSamples[0]+truckBSamples[1] ? truckBSamples[0]+truckBSamples[1] : "" }}</td>
    <td></td>
    <td></td>
  </tr>
</table>

<hr />

<p>
  Sekali lagi. Sekarang coba ambil 1000 sampel dari Truk C. Truk C berisi
  {{ subgroupSizes[2] | number :'2.0-2':'id'}} buah ({{subgroupRatios[2] * 100}}% dari keseluruhan buah yang dikirim).
</p>
<button (click)="onSampleTruckCOnly()">Ambil sampel dari Truk C</button>
<h3>Bagaimana hasilnya?</h3>
<table>
  <tr>
    <th></th>
    <th>Sampel Truk {{ truckNames[2] }}</th>
    <th>Persen</th>
    <th>Persen seharusnya</th>
  </tr>
  <tr>
    <td>Apel</td>
    <td>{{ truckCSamples[0] }}</td>
    <td>{{ truckCPercents[0] }}%</td>
    <td>56%</td>
  </tr>
  <tr>
    <td>Jeruk</td>
    <td>{{ truckCSamples[1] }}</td>
    <td>{{ truckCPercents[1] }}%</td>
    <td>44%</td>
  </tr>
    <tr>
    <td>Total</td>
    <td>{{ truckCSamples[0]+truckCSamples[1] ? truckCSamples[0]+truckCSamples[1] : "" }}</td>
    <td></td>
    <td></td>
  </tr>

</table>

<hr />

<h2>3. Mengambil sampel yang jumlahnya sama untuk ketiga truk</h2>
<p>
  Bagaimana kalau kita ambil sampel dari ke-tiga truk? Oleh karena ada 3 truk, mari mencoba mengambil sama rata.
  Tepatnya, masing-masing 333 sampel dari Truk A, B, & C. (Khusus untuk Truk A, sampelnya 334 supaya jumlahnya tepat
  1000 sampel).
</p>
<button (click)="onSampleUniformly()">Ambil rata dari Truk A, B, &amp; C</button>
<h3>Bagaimana hasilnya?</h3>
<table>
  <tr>
    <th></th>
    <th>Truk {{ truckNames[0] }}</th>
    <th>Truk {{ truckNames[1] }}</th>
    <th>Truk {{ truckNames[2] }}</th>
    <th>Total Sampel</th>
    <th>Persen</th>
    <th>Persen seharusnya</th>
  </tr>
  <tr>
    <td>Apel</td>
    <td>{{ uniformSamples[0][0] }}</td>
    <td>{{ uniformSamples[1][0] }}</td>
    <td>{{ uniformSamples[2][0] }}</td>
    <td>{{ uniformSamplesTotal[0] }}</td>
    <td>{{ uniformPercents[0] }}%</td>
    <td>56%</td>
  </tr>
  <tr>
    <td>Jeruk</td>
    <td>{{ uniformSamples[0][1] }}</td>
    <td>{{ uniformSamples[1][1] }}</td>
    <td>{{ uniformSamples[2][1] }}</td>
    <td>{{ uniformSamplesTotal[1] }}</td>
    <td>{{ uniformPercents[1] }}%</td>
    <td>44%</td>
  </tr>
  <tr>
    <td>Total</td>
    <td>{{ uniformSamples[0] ? uniformSamples[0][0]+uniformSamples[0][1] : "--"}}</td>
    <td>{{ uniformSamples[1][0]+uniformSamples[1][1] }}</td>
    <td>{{ uniformSamples[2][0]+uniformSamples[2][1] }}</td>
    <td>{{ uniformSamplesTotal[0]+uniformSamplesTotal[1] }}</td>
    <td></td>
    <td></td>
  </tr>
</table>

<hr />

<h2>4. Mengambil sampel yang proporsional dari ketiga truk</h2>
<p>
  Bagaimana kalau kita ambil sampel dari ketiga truk, TAPI jumlah sampel dari tiap truk menyesuaikan isi truk? Oleh
  karena ada 3 truk, mari mencoba mengambil 100 dari Truk A, 600 dari Truk B, dan 300 dari Truk C.
</p>
<button (click)="onSampleProportionally()">Ambil proporsional</button>
<h3>Bagaimana hasilnya?</h3>
<table>
  <tr>
    <th></th>
    <th>Truk {{ truckNames[0] }}</th>
    <th>Truk {{ truckNames[1] }}</th>
    <th>Truk {{ truckNames[2] }}</th>
    <th>Total Sampel</th>
    <th>Persen</th>
    <th>Persen seharusnya</th>
  </tr>
  <tr>
    <td>Apel</td>
    <td>{{ stratifiedSamples[0][0] }}</td>
    <td>{{ stratifiedSamples[1][0] }}</td>
    <td>{{ stratifiedSamples[2][0] }}</td>
    <td>{{ stratifiedSamplesTotal[0] }}</td>
    <td>{{ stratifiedPercents[0] }}%</td>
    <td>56%</td>
  </tr>
  <tr>
    <td>Jeruk</td>
    <td>{{ stratifiedSamples[0][1] }}</td>
    <td>{{ stratifiedSamples[1][1] }}</td>
    <td>{{ stratifiedSamples[2][1] }}</td>
    <td>{{ stratifiedSamplesTotal[1] }}</td>
    <td>{{ stratifiedPercents[1] }}%</td>
    <td>44%</td>
  </tr>
  <tr>
    <td>Total</td>
    <td>{{ stratifiedSamples[0][0]+stratifiedSamples[0][1] }}</td>
    <td>{{ stratifiedSamples[1][0]+stratifiedSamples[1][1] }}</td>
    <td>{{ stratifiedSamples[2][0]+stratifiedSamples[2][1] }}</td>
    <td>
      {{ stratifiedSamples[0][0]+stratifiedSamples[0][1]
    + stratifiedSamples[1][0]+stratifiedSamples[1][1]
    + stratifiedSamples[2][0]+stratifiedSamples[2][1]}}
    </td>
    <td></td>
    <td></td>
  </tr>
</table>

<hr />

<h2>5. Catatan-catatan</h2>
<ol>
  <li>
    <b>Mengapa persentasenya meleset kalau kita cuma mengambil dari satu truk?</b><br/>
    Perhatikan bila kita ambil 1000 sampel dari 1 truk saja, persentase yang kita dapatkan adalah persentase truk itu.
    Bukan persentase total buah yang dipesan.
    <br/>
    <br/>
  </li>
  <li>
    <b>Mengapa persentasenya tetap meleset kalau kita ambil sampel yang rata dari ketiga truk?</b>
    <br/>
    Bila sampel yang diambil rata dari ketiga truk, hasilnya tidak mewakili kenyataan. Misalnya, truk A isinya 10% dari
    keseluruhan 100.000 buah yang dipesan Wati. Jika kita ambil 334 sampel buah-buahan, maka truk A mewakili 33,4% dari
    1000 sampel total. Padahal truk A hanya mewakili 10% dari keseluruhan buah-buahan. 33,4% jauh lebih tinggi daripada
    10%. Akibatnya hasil perhitungannya meleset. Dengan kata lain, pengambilan sampel merata tidak
    mewakili/representatif.
    <br/>
    <br/>
  </li>
  <li>
    <b>Mengapa persentasenya lebih mendekati kenyataan kalau kita sampel tiap truk diambil secara proporsional?</b>
    <br/>
    Perhatikan bila kita ambil sampel proporsional, hasilnya mirip dengan hasil pengambilan sampel acak sederhana yang
    dilakukan Wati untuk total buah yang tercampur dalam satu kotak saja.
    <br/>
    <br/>
  </li>
</ol>

<p>
  Pengambilan acak pada percobaan ini dihitung oleh komputer/smartphone Anda. Jadi, apel atau jeruk yang didapat dalam
  percobaan ini adalah hasil komputasi komputer/smartphone Anda sendiri. Kode programnya
  <a href="https://github.com/hermansaksono/random_sampling/blob/master/src/app/stratified-random/stratified-random.component.ts">bisa dilihat di sini</a>.
</p>
