
<p>
  Di sini Anda akan mencoba cara kerja sampel acak (random sampling) yang biasa digunakan untuk statistik.
  Misalnya untuk survei dan hitung cepat (<i>quickcount</i>).
</p>
<h2>1. Permasalahan</h2>
<img src="assets/apple.png" />
<img src="assets/orange.png" />
<p>
  Ada seekor pinguin bernama Wati. Wati Pinguin memesan {{ populationSize }} buah-buahan yang terdiri dari
  {{ applePopulation }} apel dan {{ orangePopulation }} jeruk. Setelah pesanannya datang, ternyata apel dan jeruknya
  dicampur menjadi satu. Wati tidak yakin dia mendapatkan {{ applePopulation }} apel dan {{ orangePopulation }} jeruk.
</p>
<p>
  Awalnya, Wati hendak menghitung apel dan jeruknya satu-persatu. Namun, Ibu Wati yang profesor statistik menyarankan
  Wati untuk memakai sampel acak (random sampling) saja. Dengan demikian, Wati cukup menghitung sebagian dari
  {{ populationSize }} buah-buahan yang dia pesan
</p>
<p>
  Singkatnya, apel dan jeruk yang dimiliki Wati adalah seperti ini.
</p>
<table>
  <tr>
    <th>Buah</th>
    <th>Jumlah sampel</th>
    <th>Persen</th>
  </tr>
  <tr>
    <td>Apel</td>
    <td>{{ applePopulation }}</td>
    <td>{{ applePercent }}%</td>
  </tr>
  <tr>
    <td>Jeruk</td>
    <td>{{ orangePopulation }}</td>
    <td>{{ orangePercent }}%</td>
  </tr>
  <tr>
    <td>TOTAL</td>
    <td>{{ populationSize }}</td>
    <td>100%</td>
  </tr>
</table>

<hr />

<h2>2. Sampel Kecil</h2>
<p>
  Menghitung dengan 20 sampel acak ({{ 100 * 20/populationSize }}% dari seluruh buah-buahan). Acak artinya Wati tidak memilih-milih sampel mana yang diambil.
  Pencet tombol di bawah ini untuk mengambil 20 sampel acak. Anda bisa pencet tombol itu berkali-kali.
</p>
<button (click)="onGet20Samples()">Ambil 20 sampel acak</button>
<h3>Bagaimanakah hasilnya?</h3>
<table>
  <tr>
    <th>Buah</th>
    <th>Jumlah sampel</th>
    <th>Persen</th>
    <th>Persen seharusnya</th>
  </tr>
  <tr>
    <td>Apel</td>
    <td>{{ proportionFrom20Samples[0] }}</td>
    <td>{{ percentFrom20Samples[0] }}%</td>
    <td>{{ applePercent }}%</td>
  </tr>
  <tr>
    <td>Jeruk</td>
    <td>{{ proportionFrom20Samples[1] }}</td>
    <td>{{ percentFrom20Samples[1] }}%</td>
    <td>{{ orangePercent }}%</td>
  </tr>
</table>
<p><b>Catatan:</b> perhatikan bahwa persentase apel dan jeruk berubah-ubah terus dan hasilnya beda jauh.</p>

<hr />
<h2>3. Sampel Sedang</h2>
<p>
  Sekarang kita menambah buah-buahan yang disampel. Mari menghitung dengan 100 sampel acak
  ({{ 100 * 100/populationSize }}% dari seluruh buah-buahan).
</p>
<button (click)="onGet100Samples()">Ambil 100 sampel acak</button>
<h3>Bagaimana hasilnya?</h3>
<table>
  <tr>
    <th>Buah</th>
    <th>Jumlah sampel</th>
    <th>Persen</th>
    <th>Persen seharusnya</th>
  </tr>
  <tr>
    <td>Apel</td>
    <td>{{ proportionFrom100Samples[0] }}</td>
    <td>{{ percentFrom100Samples[0] }}%</td>
    <td>{{ applePercent }}%</td>
  </tr>
  <tr>
    <td>Jeruk</td>
    <td>{{ proportionFrom100Samples[1] }}</td>
    <td>{{ percentFrom100Samples[1] }}%</td>
    <td>{{ orangePercent }}%</td>
  </tr>
</table>
<p><b>Catatan:</b> perhatikan bahwa hasil persentasenya berubah-ubah tapi tidak beda jauh.</p>

<hr />
<h2>4. Sampel Besar</h2>
<p>
  Mari kita perbanyak sampel buah-buahan yang diambil. Mari menghitung dengan 1000 sampel acak
  ({{ 1000 * 100/populationSize }}% dari seluruh buah-buahan).
</p>
<button (click)="onGet1000Samples()">Ambil 1000 sampel acak</button>
<h3>Bagaimana hasilnya?</h3>
<table>
  <tr>
    <th>Buah</th>
    <th>Jumlah sampel</th>
    <th>Persen</th>
    <th>Persen seharusnya</th>
  </tr>
  <tr>
    <td>Apel</td>
    <td>{{ proportionFrom1000Samples[0] }}</td>
    <td>{{ percentFrom1000Samples[0] }}%</td>
    <td>{{ applePercent }}%</td>
  </tr>
  <tr>
    <td>Jeruk</td>
    <td>{{ proportionFrom1000Samples[1] }}</td>
    <td>{{ percentFrom1000Samples[1] }}%</td>
    <td>{{ orangePercent }}%</td>
  </tr>
</table>
<p>
  <b>Catatan:</b> perhatikan bahwa hasil persentasenya berubah-ubah tapi perbedaannya semakin mendekati persentase
  yang sebenarnya (apel={{ applePercent }}%, jeruk={{ orangePercent }}%).
</p>
