<h1>
  Sampel Acak (Random Sample)
</h1>
<p>
  Di sini Anda akan mencoba cara kerja sampel acak (random sampling) yang biasa digunakan untuk statistik.
  Misalnya untuk survei dan hitung cepat (<i>quickcount</i>).
</p>
<h2>1. Permasalahan</h2>
<img src="assets/apple.png" alt="Apple" />
<img src="assets/orange.png" alt="Orange" />
<img src="assets/pinguin.png" alt="Penguin" width="128"/>

<p>
  Ada seekor pinguin bernama Wati. Wati Pinguin memesan {{ populationSize }} buah-buahan yang terdiri dari
  {{ applePopulation }} apel dan {{ orangePopulation }} jeruk. Setelah pesanannya datang, ternyata apel dan jeruknya
  dicampur menjadi satu. Wati tidak yakin dia mendapatkan {{ applePopulation }} apel dan {{ orangePopulation }} jeruk.
</p>
<p>
  Awalnya, Wati hendak menghitung apel dan jeruknya satu-persatu. Namun, Ibu Wati yang profesor statistik menyarankan
  Wati untuk memakai sampel acak (random sampling) saja. Dengan demikian, Wati cukup menghitung sebagian dari
  {{ populationSize }} buah-buahan yang dia pesan
</p>
<p>
  Singkatnya, apel dan jeruk yang dimiliki Wati adalah seperti ini.
</p>
<table>
  <tr>
    <th>Buah</th>
    <th>Jumlah sebenarnya</th>
    <th>Persen</th>
  </tr>
  <tr>
    <td>Apel</td>
    <td>{{ applePopulation }}</td>
    <td>{{ applePercent }}%</td>
  </tr>
  <tr>
    <td>Jeruk</td>
    <td>{{ orangePopulation }}</td>
    <td>{{ orangePercent }}%</td>
  </tr>
  <tr>
    <td>TOTAL</td>
    <td>{{ populationSize }}</td>
    <td>100%</td>
  </tr>
</table>
<p>
  Setelah ini, Anda akan mencoba sampel acak (random sampling).
</p>

<hr />

<h2>2. Sampel Kecil</h2>
<p>
  Menghitung dengan 20 sampel acak ({{ 100 * 20/populationSize }}% dari seluruh buah-buahan). Acak artinya Wati tidak memilih-milih sampel mana yang diambil.
  Pencet tombol di bawah ini untuk mengambil 20 sampel acak. Anda bisa pencet tombol itu berkali-kali.
</p>
<button (click)="onGet20Samples()">Ambil 20 sampel acak</button>
<h3>Bagaimanakah hasilnya?</h3>
<table>
  <tr>
    <th>Buah</th>
    <th>Jumlah sampel</th>
    <th>Persen</th>
    <th>Persen seharusnya</th>
  </tr>
  <tr>
    <td>Apel</td>
    <td>{{ proportionFrom20Samples[0] }}</td>
    <td>{{ percentFrom20Samples[0] }}%</td>
    <td>{{ applePercent }}%</td>
  </tr>
  <tr>
    <td>Jeruk</td>
    <td>{{ proportionFrom20Samples[1] }}</td>
    <td>{{ percentFrom20Samples[1] }}%</td>
    <td>{{ orangePercent }}%</td>
  </tr>
</table>
<p>
  <b>Catatan:</b> perhatikan bahwa persentase apel dan jeruk berubah-ubah terus dan hasilnya beda jauh. Bedanya bisa
  hingga 22% lebih banyak atau lebih sedikit dari persen seharusnya.</p>

<hr />
<h2>3. Sampel Sedang</h2>
<p>
  Sekarang kita menambah buah-buahan yang disampel. Mari menghitung dengan 100 sampel acak
  ({{ 100 * 100/populationSize }}% dari seluruh buah-buahan).
</p>
<button (click)="onGet100Samples()">Ambil 100 sampel acak</button>
<h3>Bagaimana hasilnya?</h3>
<table>
  <tr>
    <th>Buah</th>
    <th>Jumlah sampel</th>
    <th>Persen</th>
    <th>Persen seharusnya</th>
  </tr>
  <tr>
    <td>Apel</td>
    <td>{{ proportionFrom100Samples[0] }}</td>
    <td>{{ percentFrom100Samples[0] }}%</td>
    <td>{{ applePercent }}%</td>
  </tr>
  <tr>
    <td>Jeruk</td>
    <td>{{ proportionFrom100Samples[1] }}</td>
    <td>{{ percentFrom100Samples[1] }}%</td>
    <td>{{ orangePercent }}%</td>
  </tr>
</table>
<p><b>Catatan:</b> perhatikan bahwa hasil persentasenya berubah-ubah tapi tidak beda jauh. Perhatikan juga bedanya
  sekarang 10% lebih banyak atau lebih sedikit dari persen seharusnya.
</p>

<hr />
<h2>4. Sampel Besar</h2>
<p>
  Mari kita perbanyak sampel buah-buahan yang diambil. Mari menghitung dengan 1000 sampel acak
  ({{ 1000 * 100/populationSize }}% dari seluruh buah-buahan).
</p>
<button (click)="onGet1000Samples()">Ambil 1000 sampel acak</button>
<h3>Bagaimana hasilnya?</h3>
<table>
  <tr>
    <th>Buah</th>
    <th>Jumlah sampel</th>
    <th>Persen</th>
    <th>Persen seharusnya</th>
  </tr>
  <tr>
    <td>Apel</td>
    <td>{{ proportionFrom1000Samples[0] }}</td>
    <td>{{ percentFrom1000Samples[0] }}%</td>
    <td>{{ applePercent }}%</td>
  </tr>
  <tr>
    <td>Jeruk</td>
    <td>{{ proportionFrom1000Samples[1] }}</td>
    <td>{{ percentFrom1000Samples[1] }}%</td>
    <td>{{ orangePercent }}%</td>
  </tr>
</table>
<p>
  <b>Catatan:</b> perhatikan bahwa hasil persentasenya berubah-ubah tapi perbedaannya semakin mendekati persentase
  yang sebenarnya (apel={{ applePercent }}%, jeruk={{ orangePercent }}%). Bedanya
  sekitar 3% lebih banyak atau lebih sedikit dari persen seharusnya.
</p>

<hr />

<h2>5. Catatan-catatan</h2>
<ol>
  <li>Apa perbedaan antara 20, 100, dan 1000 sampel buah-buahan?</li>
  <li>Jumlah sampel yang mana yang lebih mewakili nilai yang sebenarnya?</li>
  <li>Seberapa perlukah kita menghitung kesemua 100.000 buah-buahan?</li>
</ol>
<p>
  Pengambilan sampel acak sederhana seperti yang dilakukan oleh Wati Pinguin di atas menunjukkan bahwa dengan mengambil sebagian kecil saja dari populasi, kita dapat memprediksikan nilai populasi dengan cukup baik. Praktik pengambilan sampel acak ini relatif lebih murah dari segi waktu dan tenaga dibandingkan apabila Wati harus menghitung seluruh buah yang dia pesan. Tentu saja, nilai perkiraan tersebut tidak selalu tepat 100%. Rentang kesalahan sekitar 2-3% itu adalah 'harga' yang kita bayarkan dalam rangka menghemat waktu dan tenaga untuk mengetahui nilai populasi yang sebenarnya.
</p>
<p>
  Pengambilan acak pada percobaan ini dihitung oleh komputer/smartphone Anda. Jadi, apel atau jeruk yang didapat
  dalam percobaan ini adalah hasil komputasi komputer/smartphone Anda sendiri. Kode programnya
  <a href="https://github.com/hermansaksono/random_sampling/blob/master/src/app/simple-random/simple-random.component.ts">bisa dilihat di sini</a>.
</p>
