/* Application-wide Styles */
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    margin: 1em !important;
    font-family: Lato, Arial, Helvetica, sans-serif;
    color: #888;
}

h1 {
    color: #369;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align: left;
    font-weight: bolder;
}

h2, h3 {
    color: #444;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

p {
    margin: 1em 0;
}

input[type="text"], button {
    color: #888;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 2em;
}

table, th, td {
    border: 1px solid black;
}

th {
    font-weight: bolder;
    padding: 0.3em 0.8em;
    font-size: 10pt;
    text-transform: uppercase;
}

td {
    padding: 0.4em 0.8em;
}

/* everywhere else */
* {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

.wrapper {
    margin: 1em;
}
